
.dashboard-header{
   display: block; 
   width: 45rem;
   margin-bottom: 20rem;
}
.dashboard-container{
    display: flex;
    gap: 10rem;
    justify-content: space-around;
    gap: 100rem;
}

.spitz{
    height: 300px;
    margin-bottom: 5rem;
}
.gif-box{
    
}
.dashboard-button{
    width: 70%;
    
}

.dashboard-button-box{
    display: flex;
    gap: 3rem;
}
